---
- name: A demo to run ansible in docker container
  hosts: server
  tasks:
     - name: Install rpm's server
       shell: |
         yum -y install /tmp/*.rpm

     - name: Settings certificates
       shell: |
         sed -i 's/privateKey.key/private.key/' /opt/roschat-server/server/config.json
         sed -i 's/certificate.crt/cert.crt/' /opt/roschat-server/server/config.json
         sed -i 's/"httpsSertChain": *./"httpsSertChain": [ \n \t \t "\/opt\/roschat-server\/certificates\/https\/bundle.crt", \n \t \t "\/opt\/roschat-server\/certificates\/https\/main.crt" \n \t/' /opt/roschat-server/server/config.json
         sed -i 's/"2fa": true/"2fa": false/' /opt/roschat-server/server/config.json

     - name: Make sure a service wlan is running
       systemd:
         state: started
         name: wlan

     - name: Make sure a serveice roschat-ms is running
       systemd:
         state: started
         name: roschat-ms

     - name: Make sure a serveice roschat-db is running
       systemd:
         state: started
         name: roschat-db

     - name: Make sure a service sshd is running
       systemd:
         state: started
         name: sshd

     - name: Restart roschat-server
       systemd:
         state: restarted
         name: wlan

     - name: Restart roschat-ms
       systemd:
         state: restarted
         name: roschat-ms
