---
- name: A demo to run ansible in docker container
  hosts: server
  tasks:
     - name: Install rpm's server
       shell: |
         yum -y install /tmp/*.rpm

     - name: Copy license
       shell: |
         rm -f /opt/roschat-server/certificates/https/*
         cp -f /opt/license/* /opt/roschat-server/certificates/https/

     - name: Settings certificates
       shell: |
         sed -i 's/privateKey.key/ros.chat.key/' /opt/roschat-server/server/config.json
         sed -i 's/"httpsSertChain": *./"httpsSertChain": [ \n \t \t "\/opt\/roschat-server\/certificates\/https\/certificate_ca.crt" \n \t/' /opt/roschat-server/server/config.json
         sed -i 's/"2fa": true/"2fa": false/' /opt/roschat-server/server/config.json

     - name: Symlink python36
       shell: |
         ln -s /usr/bin/python3.6 /usr/bin/python36

     - name: Make sure a service wlan is running
       systemd:
         state: started
         name: wlan

     - name: Make sure a serveice roschat-ms is running
       systemd:
         state: started
         name: roschat-ms

     - name: Make sure a serveice roschat-db is running
       systemd:
         state: started
         name: roschat-db

     - name: Make sure a serveice snmpd is running
       systemd:
         state: started
         name: snmpd

     - name: Make sure a serveice roschat-snmp is running
       systemd:
         state: started
         name: roschat-snmp

     - name: Make sure a service sshd is running
       systemd:
         state: started
         name: sshd

     - name: Restart roschat-server
       systemd:
         state: restarted
         name: wlan

     - name: Restart roschat-ms
       systemd:
         state: restarted
         name: roschat-ms
